<div class="edit-prewedding">

    <div class="icon-close">
      <mat-icon (click)="onCloseEdit()">close</mat-icon>
    </div>
  
    <div class="title">Edit Prewedding</div>
  
    <div class="body">
  
      <div class="form-edit" >
        <form [formGroup]="formPrewedding">
  
          <div class="image-input">
            <div *ngIf="!changeImage; else preview">
              <label class="no-image">
                <img src="assets/images/no-image.png" alt="img-input">
                <input type="file" (change)="onChangeImage($event)">
                <mat-icon>photo_camera</mat-icon>
              </label>
            </div>
            <ng-template #preview>
              <label class="image">
                <img src="{{previewImage}}" alt="img-input">
                <!-- <input type="file" (change)="onChangeImage($event)"> -->
                <mat-icon (click)="onBackImage()">refresh</mat-icon>
              </label>
            </ng-template>
          </div>
  
          <mat-form-field appearance="standard">
            <mat-label>Order</mat-label>
            <input type="number" matInput #input min="1" max="8" formControlName="order">
          </mat-form-field>
  
          <mat-form-field appearance="fill">
            <mat-label>Status</mat-label>
            <mat-select formControlName="status">
              <mat-option value="option1">Option 1</mat-option>
              <mat-option value="option2">Option 2</mat-option>
            </mat-select>
          </mat-form-field>
  
          <button class="btn btn-primary">Submit</button>
  
        </form>
      </div>
    </div>
  
  </div>
  